.header {
  // position: relative;
  background: linear-gradient(to bottom, #6640ff, #fff);
  padding: 32px 0 83px;
  .header_bg {
    position: absolute;
    z-index: -2;
  }
}

.header__row {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder__row_list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.header__row_link {
  color: $coloWhite !important;
  font-family: $satoshi;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;

  transition: text-shadow 0.1s linear;

  &:hover {
    text-shadow: 0 0 2px $coloWhite;
  }
}
.header__row_button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 17px 54px;
  background-color: $coloWhite;
  border-radius: 150px;

  color: $colorAccent;
  font-family: $satoshi;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  text-transform: capitalize;

  transition: box-shadow 0.1s linear, transform 0.2s linear;

  &:hover {
    box-shadow: 0 0 10px $coloWhite;
    transform: scale(1.03);
  }
}

.nav_icon {
  display: none;
}

.nav_mobile {
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 783%;
  transform: translate(-50%, -50%);
  width: 100%;

  text-align: center;

  opacity: 0;

  a {
    color: $colorBlack !important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .header__row_button_mobile {
    margin: 30px auto 0;
  }
  button {
    background-color: $colorAccent;
    color: $coloWhite;
  }
}

.showCloseMenu {
  animation: navMenu 0.2s linear forwards;
}

@include mediaTablet {
  .header__row_nav {
    display: none;
  }
  .nav_icon {
    display: block;
  }
}
