.struct {
  margin-bottom: clamp(70px, 2.691rem + 8.42vw, 150px);
}

.struct__row_wrapper {
  position: relative;
}

.struct__images {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  img {
    border-radius: 24px;
  }
}

.struct__title {
  margin-bottom: clamp(20px, 0.661rem + 2.95vw, 48px);
}

#structStaticRed {
  opacity: 0;
  // animation: showDashboard 0.5s linear forwards;
}

.animationStatic {
    animation: showDashboard 0.5s linear forwards;
}

#structInfoRed {
  position: absolute;
  right: 306px;
  top: 0px;
  box-shadow: 0px 54.33px 63.917px 0px rgba(205, 205, 205, 0.16);
}

#structPayRed {
    position: absolute;
    left: 165px;
    top: 259px;
    box-shadow: 0px 54.33px 63.917px 0px rgba(205, 205, 205, 0.16);
}

.wrapper_elem_image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  &_red {
    background-color: $colorRed;
  }
  &_green {
    background-color: $colorGreen;
  }
  &_blue {
    background-color: $colorBlue;
  }
}
.wrapper_elem_text {
  max-width: 307px;
}
.wrapper__elem_text_title {
  margin-bottom: 6px;
}

@include mediaLargeTablet {
  #structStaticRed {
    display: none;
  }

  #structInfoRed {
    display: none;
  }

  #structPayRed {
    display: none;
  }

  .struct__row_wrapper {
    display: flex;
    justify-content: space-between;

  }
}

@include mediaTablet {
  .struct__row_wrapper {
    flex-direction: column;
    align-items: center;
  }
}