/*FONTS*/

$inter: "Inter", sans-serif;
$roboto: "Roboto", sans-serif;
$satoshi: "Satoshi", sans-serif;
$poppins: "Poppins", sans-serif;
$clash: "Clash display", sans-serif;

/*FONTS*/

/*COLORS*/

$colorBlack: #000;
$colorBlackMuted: rgba(0, 0, 0, 0.5);
$coloWhite: #fff;
$colorAccent: #6640ff;
$colorBorder: #e1e1e1;
$colorBgAccentTitle: #fff0d9;

$colorRed: rgba(242, 57, 54, 0.2);
$colorGreen: rgba(69, 198, 70, 0.2);
$colorBlue :rgba(0, 142, 255, 0.2);

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/
